.App {
  text-align: center;
}
.Calc{
  box-shadow: -30px 20px 100px 10px rgba(251, 24, 78, 0.47);
  border-radius: 30px; 
  width: 489px;
  height: 520px;
  margin: auto;
}
h1{
  padding-top: 50px;
}
.input-class{
  padding: 20px;
}
input{
width: 200px;
height: 50px;
border-radius: 10px;
font-size:25px;

}
.button-class{
 display: inline-flex;
  padding: 20px;
}
button{
  
  background-color: black;
  color: white;
  width: 60px;
  height: 55px;
  font-size: 25px;
}